{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="span3">
                {% include '::modulesUsed/navigation.html.twig' %}
                {% include 'UserBundle:Default/modulesUsed/layout:utilisateursConnecte.html.twig' %}
                {{ render(controller('EcommerceBundle:Panier:menu')) }}
            </div>

            <div class="span9">
                {% if produits | length != 0 %}
                    <ul class="thumbnails">
                        {% for produit in produits %}
                            <li class="span3">
                                <div class="thumbnail">
                                    <img src="{{ asset(produit.image.getAssetPath()) }}" alt="{{ produit.image.alt }}"
                                         width="300" height="300">
                                    <div class="caption">
                                        <h4>{{ produit.nom }}</h4>
                                        <p>{{ produit.prix | tva(produit.tva.valeur) }} €</p>
                                        <a class="btn btn-primary"
                                           href="{{ path('presentation', {'idProduit' : produit.id}) }}"><i
                                                    class="icon-eye-open"></i>{{ 'produits.plus_info'|trans({}, 'EcommerceBundle') }}
                                        </a>
                                        {% if panier[produit.id] is not defined %}
                                            <a class="btn btn-success"
                                               href="{{ path('ajouter',{'idProduit': produit.id}) }}"><i
                                                        class="icon-plus"></i>{{ 'produits.ajouter_au_panier'|trans({}, 'EcommerceBundle') }}
                                            </a>
                                        {% else %}
                                            <a href="{{ path('panier') }}" class="btn btn-warning"><i
                                                        class=" icon-shopping-cart"></i> {{ 'produits.deja_ajouter'|trans({}, 'EcommerceBundle') }}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="pagination">
                        {{ knp_pagination_render(produits) }} {{ 'produits.nb_produits'|trans({}, 'EcommerceBundle') }}
                        : {{ produits.getTotalItemCount }}
                    </div>
                {% else %}
                    <p class="center-block">{{ 'produits.aucun_produit'|trans({}, 'EcommerceBundle') }}</p>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}