<div class="col-sm-3" id="sidebar-wrapper">

    <div class="list-group">
        <a href="{{ path('admin_tva_index') }}" class="list-group-item">Tva</a>
        <a href="{{ path('admin_categories_index') }}" class="list-group-item">Catégories</a>
        <a href="{{ path('admin_produits_index') }}" class="list-group-item">Produits</a>
    </div>

    <div class="list-group">
        <a href="{{ path('admin_user_index') }}" class="list-group-item">Clients</a>
        <a href="{{ path('admin_commandes_index') }}" class="list-group-item">Commandes</a>
    </div>

    <div class="list-group">
        <a href="{{ path('admin_pages_index') }}" class="list-group-item">Pages</a>
    </div>
    {#pour voir le code de developement #}
    {{ show_source_code(_self) }}
</div>