<div class="well">
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">Mon profil</a>
        </li>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Modifier mes informations</a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">Modifier mon mot de passe</a>
        </li>
        <li>
            <a href="#">Mes factures</a>
        </li>
        <li>
            <a href="#">Mes adresses</a>
        </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">deconnexionbbbb</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('admin_home_index') }}">Admin</a>
            </li>
        {% endif %}
    </ul>
</div>