{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Pages list</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.titre }}</td>
                <td>
                    <a href="{{ path('admin_pages_show', { 'id': entity.id }) }}" class="btn btn-success"><i
                                class="icon-book"></i></a>
                    |
                    <a href="{{ path('admin_pages_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i
                                class="icon-edit"></i></a>
                    |
                    <a href="{{ path('admin_pages_delete', { 'id': entity.id }) }}" class="btn btn-danger"><i
                                class="icon-remove"></i></a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

        <a href="{{ path('admin_pages_new') }}" class="btn btn-block btn-primary">
            <i class="icon-plus"></i> Nouvelle page
            </a>

    </ul>
{% endblock %}