{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}

    <div class="panel panel-success">

        <div class="panel-heading">Pages</div>
        <div class="panel-body">
            <p>Page Id : {{ entity.id }}</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">{{ entity.titre }}</li>
            <li class="list-group-item" style="padding-left: 30px;padding-right: 20px">{{ entity.contenu| raw }}</li>
        </ul>
        <div class="panel-footer">

            <div class="btn-group btn-group-justified" role="group" aria-label="...">

                <div class="btn-group" role="group">
                    <a href="{{ path('admin_pages_index') }}" class="btn btn-success">
                        Back to the list
                    </a>
                </div>
                <div class="btn-group" role="group">
                    <a href="{{ path('admin_pages_edit', { 'id': entity.id }) }}" class="btn btn-info">
                        Edit
                    </a>
                </div>
                <div class="btn-group" role="group">
                    {{ form_start(delete_form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(delete_form) }}
                    {{ form_widget( delete_form.submit ,{'attr': {'class': 'btn  btn-danger'}}) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}