<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">{{ 'produits.panier'|trans({}, 'EcommerceBundle') }}</li>
        <li>
            <a href="{{ path('panier') }}">
                {% if nbArticles == 0 %}
                    {{ 'produits.aucun_article_panier'|trans({}, 'EcommerceBundle') }}
                {% elseif nbArticles == 1 %}
                    <span class="badge badge-important"> <i
                                class=" icon-shopping-cart"></i> 1 </span> {{ 'produits.aucun_un_article_panier'|trans({}, 'EcommerceBundle') }}
                {% else %}
                    <span class="badge badge-important"><i
                                class=" icon-shopping-cart"></i> {{ nbArticles }} </span> {{ 'produits.aucun_more_article_panier'|trans({}, 'EcommerceBundle') }}
                {% endif %}
            </a>
        </li>
    </ul>
</div>