{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Tva list</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Multiplicate</th>
            <th>Valeur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in tvas %}
            <tr>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.multiplicate }}</td>
                <td>{{ entity.valeur }}</td>

                <td>
                    <a href="{{ path('admin_tva_show', { 'id': entity.id }) }}" class="btn btn-success">
                        <span class="glyphicon glyphicon-book"></span>
                    </a>
                    |
                    <a href="{{ path('admin_tva_edit', { 'id': entity.id }) }}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

        <a href="{{ path('admin_tva_new') }}" class="btn btn-block btn-primary">
            <i class="icon-plus"></i> Nouvelle tva
        </a>

    </ul>
{% endblock %}